* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fonts */
@font-face {
    font-family: 'Ruhl';
    src: url('./fonts/FrankRuhlLibre-Regular.ttf');
}
@font-face {
    font-family: 'Ruhl Medium';
    src: url('./fonts/FrankRuhlLibre-Medium.ttf');
}
@font-face {
    font-family: 'Vibes';
    src: url('./fonts/GreatVibes-Regular.ttf');
}
/* styling */
html {
    --logo-font: calc(2rem + 1vw);
}
body {
    font-family: 'Ruhl', sans-serif;
}
h1 {
    font-family: 'Vibes', sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: relative;
}
#logo {
    font-size: var(--logo-font);
    flex: 1 1 20rem;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.hero h2 {
    font-size: 3rem;
    align-self: flex-start;
}
.hero .hero-intro p {
    font-size: calc(2rem + 10px);
    padding: 1rem 0 1rem 0;
}
.hero a {
    color: black;
    font-size: 2rem;
    margin-top: 1em;
    padding: 10px 2rem 10px 2rem;
    border: 3px solid black;
    font-weight: bold;
    align-self: flex-start;
}
nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
    min-height: 10vh;
}
.links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
    font-weight: bold;
}
.hero {
    min-height: 90vh;
    width: 90%;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.hero-intro {
    flex: 3 1 40rem;
}
.hero-images {
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
}
.hero-img {
    object-fit: contain;
    padding: 10% 0 0 10%;
}